

<%= form_for @kitten do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :age %>
		<%= f.select(:age, @age) %>
	</div>

	<div>
		<%= f.label :cuteness %>
		<%= f.select(:cuteness, @cute_and_soft) %>
	</div>
    
    <div>
		<%= f.label :softness %>
		<%= f.select(:softness, @cute_and_soft) %>
	</div>
	
	<div>
		<%= f.submit "register kitten" %>
	</div>
	
<% end %>